body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}
img {
    max-width: 90%;
    margin-top: 5px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width:10em;
    max-width:25%;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
